html, body
  height: 100%
  margin: 0
  padding: 0
  position: relative
  text-rendering: optimizeLegibility

.container
  min-height: 100vh
  display: block
  position: relative
  padding-bottom: 18rem

@media screen and (max-width: 2560px)
  body
    font-size: $font-size + 2
  .home, .notes
    max-width: 60vw
    margin: 0 auto 5rem auto
  .chapsums
    ul
      columns: 3

@media screen and (max-width: 1600px)
  .home, .notes
    max-width: 75vw

@media screen and (max-width: 1440px)
  body
    font-size: $font-size + 1
  .home, .notes
    max-width: 85vw

@media screen and (max-width: 1024px)
  body
    font-size: $font-size
  .home, .notes
    max-width: 85vw
    h1, .h1
      font-size: 3em
    img
      max-width: 25vw
  .chapsums
    ul
      columns: 2

@media screen and (max-width: 750px)
  body
    font-size: $font-size
  .home, .notes
    max-width: 90vw
    h1, .h1
      font-size: 2.5em

@media screen and (max-width: 640px)
  body
    font-size: $font-size - 1
  .home, .notes
    .chapsums
      margin-top: 1rem
  .notes img
      float: none
      margin: 1rem
      max-width: 45vw
