@import "variables"


html, body
  background: $dark-color
  color: $dark-gray
  // font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', Arial, sans-serif
  // font-family: 'Exo', 'Roboto', 'Open Sans', Arial, sans-serif
  font-family: $font-family
  font-weight: $base-font-weight

h1, .h1
  font-size: 3.5em
  font-family: $font-family-bold
  font-weight: $semibold-font-weight
  margin: 1rem 0
h2, .h2
  font-size: 2.5em
  font-family: $font-family-bold
  font-weight: $semibold-font-weight
  margin: 1rem 0
h3, .h3
  font-size: 1.5em
  font-family: $font-family-bold
  font-weight: $semibold-font-weight
  margin: 0.5rem 0
h4, .h4
  font-size: 1.25em
  font-weight: $semibold-font-weight
  margin: 0.5rem 0
h5, .h5
  font-size: 1.125em
  font-weight: $semibold-font-weight
  margin: 0.25rem 0
h6, .h6
  font-size: 1.125em
  font-style: italic
  font-weight: $semibold-font-weight
  margin: -1rem 0 0.1rem 0

.home, .notes
  // text-align: center
  margin: 0 10rem 5rem 10rem

  .notification-badge
    position: absolute
    border-radius: 50%
    width: 0.65rem
    height: 0.65rem
    background-color: $blue-color
    animation-name: notification-pulse
    animation-duration: 1.5s
    animation-iteration-count: infinite
    &-right
      margin: 0.3rem 0.25rem 0.25rem 0.5rem
    &-left
      margin: 0.3rem 0.25rem 0.25rem -1rem

  @keyframes notification-pulse
    0%
      background-color: $blue-color
    50%
      background-color: lighten($blue-color, 10%)
      box-shadow: 0 0 5px 2px lighten($blue-color, 5%)
    100%
      background-color: $blue-color

  .jump-to-latest
    font-family: $font-family-bold
    width: 100%
    text-align: right
    &-link
      text-decoration: none
      &:visited
        color: desaturate($link-color, 50%)
  img
    float: left
    margin: 4rem 2rem 2rem 0rem

  .chapsums
    font-family: $font-family
    text-align: left
    margin-top: 4rem
    word-spacing: 0.5px
    h2, h6
      color: $mid-gray
    p
      font-size: 13pt
    i
      font-weight: 300
    em
      font-weight: 700
    .latest
      color: desaturate($blue-color, 50%)
    .fn
      font-size: small
      color: darken($dark-gray, 10%)
      &-num
        font-style: normal
        font-size: 12pt
        font-family: 'Aurek-Besh'
        text-decoration: none
        margin-left: 2px

    .contents
      .task-list-item
        input
          pointer-events: none

  &[id='9780345511355']
    h2, h6
      // color: #549ed4
      color: $blue-color
      font-family: 'Aurek-Besh'

  .progress
    width: 100%
    &-bar
      width: 100%
      height: 0.2em
      background-color: #222
      border: none
      border-radius: 10px
      position: relative
      display: flex

      &-percent
        background-color: $green-color
        display: inline-flex
        justify-content: center
        align-items: center
        text-align: center
        height: 100%
        border-radius: 10px
    &-value
      margin-top: 0
      text-align: right
      font-size: 0.8em
      font-weight: bold

#back-to-top
  position: fixed
  bottom: -4rem
  right: 2rem
  height: 1.25rem
  width: 1.25rem
  padding: 1rem
  border-radius: 50px
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(lighten($blue-color, 5%), 0.75)
  color: $dark-color
  font-weight: bold
  z-index: 1
  transition: bottom .25s
  &:hover
    background-color: rgba(lighten($blue-color, 10%), 0.9)
    cursor: pointer

hr
  color: $darker-gray
  border: 1px solid $darker-gray
  border-radius: 10px

a
  color: lighten($link-color, 10%)
  &:visited
    color: slateblue
    &:hover
      color: lighten(slateblue, 10%)

footer.dev-info
  position: absolute
  bottom: 0
  width: 100%
  height: 8rem
  padding-top: 5rem
  padding-bottom: 5rem
  text-align: center
  background: #000
  border-top: 0.25rem solid #222
  img
    margin: 1rem
    height: 3rem
  .last-modified
    color: #333
    font-family: monospace

@import "layout"
