extends layout

block content
  div.home
    h1 Reading notes
    hr
    
    - var toRead = books.filter((b) => { return b.meta.shelf === 'to-read' })
    - 
      var currentlyReading = books.filter((b) => { 
        return b.meta.shelf === 'currently-reading' 
      }).sort( (a,b) => { 
        return Date.parse(b.meta.updated) - Date.parse(a.meta.updated) 
      })
    
    h2 2020
    
    h3 Currently Reading
    ul
      each book in currentlyReading
        li(class=(book.meta.updated ? 'new' : ''))
          a(href='books/'+book.filename+'.html')= book.meta.title
          - var date = new Date(new Date().setHours(0,0,0,0))
          if new Date(book.meta.updated) > date.setDate(date.getDate() - 30)
            a(href='books/'+book.filename+'.html#latest')
              span.notification-badge.notification-badge-right
      
    h3 To Read
    ul
      each book in toRead
        li= book.meta.title
